.App {
  text-align: center;
  margin: auto;
  min-width: 1200px;
}

button {
  all: unset;
  cursor: pointer;
  margin: 40px
}

ul {
  list-style: none;
  display: flex;
  margin: 0 50px;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: center;
}

li {
  padding: 30px 30px;
  width: calc(100% / 7);
  box-sizing: border-box;
}